Repository qiangqiang-id/magic: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --aei, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{css,less}": "stylelint --fix --aei",
  "*.{jsx,ts,tsx}": "eslint --fix",
  "*.{css,less,jsx,ts,tsx,json,yml,yaml,md}": "prettier --write"
}

refactor(store): 优化函数调用
  src/components/Crop/Crop.tsx
  src/components/Editor/Editor.tsx
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.tsx
  src/constants/CmdEnum.ts
  src/core/Manager/Clipboard.ts
  src/core/Manager/Cmd.ts
  src/core/Manager/Keyboard.ts
  src/core/Tools/CropMove.ts
  src/layout/Material/Content/Back/Back.tsx
  src/layout/Setting/Image/Image.tsx
  src/layout/Stage/Scenes/Scenes.tsx
  src/layout/Stage/Stage.tsx
  src/models/LayerStruc/GroupStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/store/Setting.ts
  src/store/index.ts
  src/utils/font.ts
  src/utils/layers.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ d2a0d9b2f86d7174d756f6eff42ae8c2214ef3f0 🚀
  assets/index-cb7d47ba.js
  assets/index-d7a6e7af.js
  index.html
Due: none

refactor(types): 修改layer继承泛型
  src/components/Editor/RichText/RichText.tsx
  src/core/Decorator/History.ts
  src/core/FormatData/Layer.ts
  src/layout/Setting/Canvas/Canvas.tsx
  src/layout/Setting/Text/TextAlign.tsx
  src/layout/Setting/Text/TextColor.tsx
  src/layout/Setting/Text/TextFamilyWithSize.tsx
  src/layout/Setting/Text/TextStyle.tsx
  src/models/LayerStruc/BackgroundStruc.ts
  src/models/LayerStruc/GroupStruc.ts
  src/models/LayerStruc/ImageStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/LayerStruc/ShapeStruc.ts
  src/models/LayerStruc/TextStruc.ts
  src/models/SceneStruc/SceneStruc.ts
Due: eslint --fix, prettier --write

feat(editor): 增加编辑图层历史记录
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/Editor/RichText/RichText.tsx
  src/components/Renderer/Layer/Layer.tsx
  src/config/Cmd.ts
  src/config/DefaultValues.ts
  src/core/Decorator/History.ts
  src/core/Manager/Cmd.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/LayerStruc/TextStruc.ts
  src/types/magic.d.ts
  src/types/updateOptions.ts
  src/utils/move.ts
Due: eslint --fix, prettier --write

fix: 调整mock数据
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/layout/Setting/Canvas/Canvas.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 79b66017e5adbf2609547bdf12cf08389a9f0ec9 🚀
  assets/index-18d6bcaa.js
  assets/index-cb7d47ba.js
  index.html
Due: none

fix: 修改文件单词错误
  src/config/Mocks.ts
  src/layout/Material/Material.tsx
  src/layout/Material/SidabarMenu/index.ts
  src/layout/Material/SidebarMenu/SidebarMenu.module.less
  src/layout/Material/SidebarMenu/SidebarMenu.tsx
  src/layout/Material/SidebarMenu/index.ts
  src/layout/Setting/Setting.tsx
  src/models/LayerStruc/LayerStruc.ts
  src/models/SceneStruc/SceneStruc.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 547bdacc856b162354589f02fbfcb2a870d3bfb4 🚀
  assets/index-0547b062.css
  assets/index-18d6bcaa.js
  assets/index-682b08e9.css
  assets/index-bd002a5c.js
  index.html
Due: stylelint --fix --aei, prettier --write

fix(layer-position): 图层层级移动错误
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.tsx
  src/models/LayerStruc/LayerStruc.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 70767924f056c1eb11f8c8ca3e6358110610e50d 🚀
  assets/index-998d2408.js
  index.html
Due: none

fix(layer-position): 优化
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.tsx
  src/models/LayerStruc/LayerStruc.ts
Due: eslint --fix, prettier --write

refactor(upload): 重构上传组件
  src/components/Upload/Upload.tsx
  src/components/Upload/index.ts
  src/components/UploadBtn/UploadBtn.module.less
  src/components/UploadBtn/UploadBtn.tsx
  src/components/UploadBtn/index.ts
  src/layout/Material/Content/Back/Back.tsx
  src/layout/Material/Content/Image/Image.tsx
  src/layout/Setting/Image/Image.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(context): 新增context 组件
  index.html
  package-lock.json
  package.json
  packages/Screenshot/Fetch.ts
  src/App.tsx
  src/components/ContextMenu/ContextMenu.module.less
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/MenuItem/MenuItem.module.less
  src/components/ContextMenu/MenuItem/MenuItem.tsx
  src/components/ContextMenu/MenuItem/index.ts
  src/components/ContextMenu/index.ts
  src/components/ContextMenu/props.ts
  src/config/StageContextMenu.ts
  src/core/Manager/ContextMenuManager.ts
  src/hooks/index.ts
  src/hooks/useEscapeClose.ts
  src/hooks/useGlobalClick.ts
  src/hooks/useMenuPosition.ts
  src/store/index.ts
  src/types/componentProps.ts
  src/utils/getPreviewSizePosition.ts
  src/utils/layers.ts
  src/utils/portalRender.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

fix(contextmenu): 调整contextmenu实现方案
  src/components/ContextMenu/ContextMenu.module.less
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/ContextMenuContent.tsx
  src/components/ContextMenu/MenuItem/MenuItem.module.less
  src/components/ContextMenu/MenuItem/MenuItem.tsx
  src/components/ContextMenu/MenuItem/index.ts
  src/components/ContextMenu/MenuItemComponent.tsx
  src/components/ContextMenu/SubMenu.tsx
  src/config/StageContextMenu.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

style(context-menu): 调整ui展示
  src/components/ContextMenu/ContextMenu.module.less
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/ContextMenuContent.tsx
  src/components/ContextMenu/MenuItemComponent.tsx
  src/components/ContextMenu/SubMenu.tsx
  src/components/ContextMenu/props.ts
  src/config/StageContextMenu.ts
  src/hooks/useMenuPosition.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(context-menu): 关闭逻辑
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/SubMenu.tsx
  src/config/StageContextMenu.ts
  src/hooks/index.ts
Due: eslint --fix, prettier --write

fix(context-menu): 完成右键菜单基础功能
  src/components/ContextMenu/ContextMenu.module.less
  src/components/ContextMenu/ContextMenu.tsx
  src/components/ContextMenu/ContextMenuContent.tsx
  src/components/ContextMenu/MenuItemComponent.tsx
  src/components/ContextMenu/SubMenu.tsx
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/components/Renderer/Layer/Layer.tsx
  src/config/StageContextMenu.ts
  src/config/StageContextMenu.tsx
  src/core/Manager/Clipboard.ts
  src/core/Manager/Cmd.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/types/magic.d.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(context-menu): 完成选择重叠图
  src/components/ContextMenu/ContextMenu.module.less
  src/components/ContextMenu/MenuItemComponent.tsx
  src/components/Renderer/Layer/Layer.tsx
  src/config/StageContextMenu.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(context-menu): 增加disable 属性
  src/config/StageContextMenu.tsx
  src/models/LayerStruc/LayerStruc.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 2e17c8d4a4942c4ace171e830ca8b65628fb6cb3 🚀
  assets/index-0547b062.css
  assets/index-4ab00499.css
  assets/index-998d2408.js
  assets/index-de2c546b.js
  index.html
Due: stylelint --fix --aei, prettier --write

fix(readme): 完成右键菜单
  README.md
  src/components/ContextMenu/ContextMenu.tsx
Due: eslint --fix, prettier --write

fix: 优化代码
  src/core/Manager/ContextMenuManager.ts
Due: eslint --fix, prettier --write

fix(mocks): 更新图像URL以指向新的资源
  src/config/Mocks.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ e31eaf76bef1eb71c2f04bff5033d27d74d29eea 🚀
  assets/index-7b83f8f4.js
  index.html
Due: none

feat(stage): 增加画布缩放功能
  src/components/Crop/Crop.module.less
  src/components/Editor/EditorControl/EditorControl.tsx
  src/config/HotKeys.ts
  src/helpers/Crop.ts
  src/hooks/useCanvasPan.ts
  src/hooks/useCanvasZoom.ts
  src/layout/Stage/Canvas/Canvas.tsx
  src/layout/Stage/Scenes/Scenes.tsx
  src/layout/Stage/Stage.module.less
  src/layout/Stage/Stage.tsx
  src/layout/Stage/ToolsWithTips/ToolsWithTips.module.less
  src/layout/Stage/ToolsWithTips/ToolsWithTips.tsx
  src/layout/Stage/ToolsWithTips/index.ts
  src/store/OS.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ cfe001e26a72dd72a5bf7ba17ad63d23bac72c04 🚀
  assets/index-00967e17.js
  assets/index-3e29fdb5.css
  assets/index-4ab00499.css
  assets/index-7b83f8f4.js
  index.html
Due: stylelint --fix --aei, prettier --write
