Repository qiangqiang-id/magic: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --aei, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{css,less}": "stylelint --fix --aei",
  "*.{jsx,ts,tsx}": "eslint --fix",
  "*.{css,less,jsx,ts,tsx,json,yml,yaml,md}": "prettier --write"
}

B#
  package.json
  pnpm-lock.yaml
  scripts/prepare.js
Due: prettier --write

fix: 🐛 使用npm
  .husky/_/.gitkeep
  .husky/_/husky.sh
  .husky/pre-commit
  package-lock.json
  pnpm-lock.yaml
  scripts/prepare.js
Due: prettier --write

feat: 🎸 增加图标
  .eslintcache
  .eslintrc.cjs
  babel.config.js
  index.html
  lib.d.ts
  package-lock.json
  package.json
  public/magic.svg
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/assets/style/reset.less
  src/index.css
  src/main.tsx
  vite.config.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: layout 基本布局
  src/App.tsx
  src/layout/Header/Header.module.less
  src/layout/Header/Header.tsx
  src/layout/Header/index.ts
  src/layout/Layout.module.less
  src/layout/Layout.tsx
  src/layout/Material/Material.module.less
  src/layout/Material/Material.tsx
  src/layout/Material/index.ts
  src/layout/Setting/Setting.module.less
  src/layout/Setting/Setting.tsx
  src/layout/Setting/index.ts
  src/layout/Stage/Stage.module.less
  src/layout/Stage/Stage.tsx
  src/layout/Stage/index.ts
  src/layout/index.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 左侧菜单区域基本布局
  index.html
  package-lock.json
  package.json
  src/constants/MaterialEnum.ts
  src/layout/Material/Content/Back/Back.tsx
  src/layout/Material/Content/Back/index.ts
  src/layout/Material/Content/Image/Image.tsx
  src/layout/Material/Content/Image/index.ts
  src/layout/Material/Content/Shape/Shape.tsx
  src/layout/Material/Content/Shape/index.ts
  src/layout/Material/Content/Text/Text.tsx
  src/layout/Material/Content/Text/index.ts
  src/layout/Material/Material.module.less
  src/layout/Material/Material.tsx
  src/layout/Material/SidabarMenu/SidabarMenu.module.less
  src/layout/Material/SidabarMenu/SidabarMenu.tsx
  src/layout/Material/SidabarMenu/index.ts
  src/layout/Material/constants.ts
  src/layout/Setting/Setting.module.less
  src/layout/Stage/Stage.module.less
  src/store/Material.ts
  src/store/index.ts
  src/types/material.ts
  vite.config.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 初始化magic类型
  .eslintcache
  .stylelintcache
  src/layout/Material/Material.module.less
  src/moduels/FactoryStruc/FactoryStruc.ts
  src/moduels/LayerStruc/LayerStruc.ts
  src/moduels/MagicStruc/MagicStruc.ts
  src/moduels/MagicStruc/index.ts
  src/types/magic.d.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 资源区样式布局
  src/assets/style/reset.less
  src/components/UploadBtn/UploadBtn.module.less
  src/components/UploadBtn/UploadBtn.tsx
  src/components/UploadBtn/index.ts
  src/constants/ColorList.ts
  src/constants/Shape.ts
  src/layout/Material/Content/Back/Back.module.less
  src/layout/Material/Content/Back/Back.tsx
  src/layout/Material/Content/Image/Image.tsx
  src/layout/Material/Content/Shape/Shape.module.less
  src/layout/Material/Content/Shape/Shape.tsx
  src/layout/Material/Content/Text/Text.module.less
  src/layout/Material/Content/Text/Text.tsx
  src/layout/Material/Material.module.less
  src/layout/Material/SidabarMenu/SidabarMenu.module.less
  src/layout/Material/SidabarMenu/SidabarMenu.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 画布区域 & 画布缩放
  src/constants/CacheKeys.ts
  src/constants/Refs.ts
  src/constants/ZoomLevel.ts
  src/core/Manager/LocalCache.ts
  src/hooks/use-resize-observer.ts
  src/layout/Header/Header.module.less
  src/layout/Material/Material.module.less
  src/layout/Setting/Setting.module.less
  src/layout/Stage/Canvas/Canvas.module.less
  src/layout/Stage/Canvas/Canvas.tsx
  src/layout/Stage/Canvas/index.ts
  src/layout/Stage/Editor/Editor.tsx
  src/layout/Stage/Editor/index.ts
  src/layout/Stage/Renderer/Renderer.tsx
  src/layout/Stage/Renderer/index.ts
  src/layout/Stage/Stage.module.less
  src/layout/Stage/Stage.tsx
  src/store/OS.ts
  src/store/index.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

style: 💄 画布区域样式
  src/assets/style/common.less
  src/assets/style/index.less
  src/layout/Stage/Editor/Editor.module.less
  src/layout/Stage/Editor/Editor.tsx
  src/layout/Stage/Renderer/Renderer.module.less
  src/layout/Stage/Renderer/Renderer.tsx
  src/main.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 初始化LayerStruc
  src/assets/style/index.less
  src/assets/style/reset.less
  src/config/DefaultValues.ts
  src/constants/LayerTypeEnum.ts
  src/moduels/LayerStruc/BackgroundStruc.ts
  src/moduels/LayerStruc/GroupStruc.ts
  src/moduels/LayerStruc/ImageStruc.ts
  src/moduels/LayerStruc/LayerStruc.ts
  src/moduels/LayerStruc/ShapeStruc.ts
  src/moduels/LayerStruc/TextStruc.ts
  src/moduels/LayerStruc/index.ts
  src/moduels/MagicStruc/MagicStruc.ts
  src/types/magic.d.ts
  src/utils/mergeData.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 增加logo打印
  README.md
  src/App.tsx
  src/config/Shape.ts
  src/layout/Material/Content/Shape/Shape.tsx
  src/moduels/LayerStruc/LayerStruc.ts
  src/moduels/LayerStruc/TextStruc.ts
  src/types/magic.d.ts
  src/utils/logo.ts
Due: eslint --fix, prettier --write

feat: 🎸 初始化Magic model
  src/models/FactoryStruc/LayerFactory.ts
  src/models/FactoryStruc/SceneFactory.ts
  src/models/LayerStruc/BackgroundStruc.ts
  src/models/LayerStruc/GroupStruc.ts
  src/models/LayerStruc/ImageStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/LayerStruc/ShapeStruc.ts
  src/models/LayerStruc/TextStruc.ts
  src/models/LayerStruc/index.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/MagicStruc/index.ts
  src/models/SceneStruc/SceneStruc.ts
  src/models/SceneStruc/index.ts
  src/moduels/FactoryStruc/FactoryStruc.ts
  src/moduels/LayerStruc/ShapeStruc.ts
  src/moduels/MagicStruc/MagicStruc.ts
  src/types/magic.d.ts
  src/types/model.ts
Due: eslint --fix, prettier --write

feat: 🎸 创建空模板数据
  src/config/ColorList.ts
  src/config/DefaultValues.ts
  src/config/Shape.ts
  src/layout/Material/Content/Back/Back.tsx
  src/layout/Material/Content/Shape/Shape.tsx
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/store/Magic.ts
  src/store/index.ts
  src/types/magic.d.ts
  src/utils/random.ts
Due: eslint --fix, prettier --write

feat: 🎸 增加mock数据 & 移动editor 和 renderer 文件位置
  src/components/Editor/Editor.module.less
  src/components/Editor/Editor.tsx
  src/components/Editor/index.ts
  src/components/Renderer/Renderer.module.less
  src/components/Renderer/Renderer.tsx
  src/components/Renderer/index.ts
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/layout/Stage/Canvas/Canvas.tsx
  src/layout/Stage/Editor/Editor.tsx
  src/models/FactoryStruc/LayerFactory.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/store/Magic.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 增加action 工作流
  .github/workflows/ci.yml
  package.json
Due: prettier --write

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Deploying to gh-pages from @ 39b0469efd1072e60c38a23d16a5b09001cf0ce7 🚀
  assets/index-69cfeef9.js
  assets/index-80e2dad9.css
  index.html
  magic.svg
Due: stylelint --fix --aei, prettier --write

fix: 🐛 修改base 路径
  vite.config.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 875033260b204b3751ddf1f1563a47aab860da0a 🚀
  index.html
Due: none

feat: 🎸 layer & image 渲染
  .github/workflows/ci.yml
  packages/EditorBox/EditorBox.tsx
  packages/EditorBox/index.ts
  src/components/Editor/Editor.tsx
  src/components/Layer/Back/Back.tsx
  src/components/Layer/Back/index.ts
  src/components/Layer/Group/Group.tsx
  src/components/Layer/Group/index.ts
  src/components/Layer/Image/Image.module.less
  src/components/Layer/Image/Image.tsx
  src/components/Layer/Image/index.ts
  src/components/Layer/Layer.module.less
  src/components/Layer/Layer.tsx
  src/components/Layer/Shape/Shape.tsx
  src/components/Layer/Shape/index.ts
  src/components/Layer/Text/Text.tsx
  src/components/Layer/Text/index.ts
  src/components/Layer/index.ts
  src/components/Renderer/Renderer.tsx
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/helpers/Chain.ts
  src/helpers/Styles.ts
  src/layout/Stage/Canvas/Canvas.tsx
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/types/magic.d.ts
  src/types/model.ts
  tsconfig.json
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 63801b3ee3fbeb9025d4f45fe6bc7475c4af216b 🚀
  assets/index-60625a08.js
  assets/index-69cfeef9.js
  assets/index-80e2dad9.css
  assets/index-d7f187d4.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat: 🎸 setting 初始化组件
  .eslintcache
  src/components/Layer/Layer.tsx
  src/config/Mocks.ts
  src/helpers/Styles.ts
  src/layout/Setting/Back/Back.tsx
  src/layout/Setting/Back/index.ts
  src/layout/Setting/Group/Group.tsx
  src/layout/Setting/Group/index.ts
  src/layout/Setting/Image/Image.tsx
  src/layout/Setting/Image/index.ts
  src/layout/Setting/Setting.tsx
  src/layout/Setting/Shape/Shape.tsx
  src/layout/Setting/Shape/index.ts
  src/layout/Setting/Text/Text.tsx
  src/layout/Setting/Text/index.ts
  src/models/MagicStruc/MagicStruc.ts
Due: eslint --fix, prettier --write

feat: 🎸 增加背景图层
  src/components/Layer/Back/Back.module.less
  src/components/Layer/Back/Back.tsx
  src/components/Layer/Layer.tsx
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/constants/TemplateSize.ts
  src/hooks/useResizeObserver.ts
  src/layout/Stage/Canvas/Canvas.tsx
  src/layout/Stage/Stage.tsx
  src/models/LayerStruc/BackgroundStruc.ts
  src/models/LayerStruc/ImageStruc.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 取消激活图层
  src/layout/Stage/Stage.tsx
Due: eslint --fix, prettier --write

fix: 🐛 注释报错
  src/helpers/Styles.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ c5453b61de3774c602bafa673e36e4635a95514d 🚀
  assets/index-1d4fe128.js
  assets/index-60625a08.js
  assets/index-aee397cc.css
  assets/index-d7f187d4.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat: 🎸 设置背景
  src/components/Layer/Back/Back.tsx
  src/components/Layer/Layer.tsx
  src/layout/Material/Content/Back/Back.tsx
  src/layout/Setting/Setting.tsx
  src/models/LayerStruc/LayerStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/utils/file.ts
  src/utils/filterData.ts
Due: eslint --fix, prettier --write

feat: 🎸 增加快捷键系统
  .eslintcache
  .stylelintcache
  package.json
  src/App.tsx
  src/assets/style/common.less
  src/components/Editor/Editor.module.less
  src/components/Layer/Back/Back.module.less
  src/components/Renderer/Renderer.module.less
  src/components/UploadBtn/UploadBtn.module.less
  src/config/HotKeys.ts
  src/config/cmd.ts
  src/constants/CmdEnum.ts
  src/constants/Device.ts
  src/constants/HotKeyScope.ts
  src/constants/KeyCode.ts
  src/core/Manager/Cmd.ts
  src/core/Manager/Keyboard.ts
  src/helpers/HotKey.ts
  src/layout/Stage/Canvas/Canvas.module.less
  src/models/MagicStruc/MagicStruc.ts
  src/store/Magic.ts
  src/utils/equals.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

test: 💍 测试packages
  packages/EditorTools/EditorBox/EditorBox.tsx
  packages/EditorTools/EditorBox/index.ts
  packages/EditorTools/index.ts
  src/components/Editor/Editor.tsx
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 634a937b47d6daefd351f0f0a7a93d740e8c517f 🚀
  assets/index-1d4fe128.js
  assets/index-24efe810.js
  index.html
Due: none

feat: 🎸 EditorTools packages
  packages/EditorTools/EditorBox/EditorBox.less
  packages/EditorTools/EditorBox/EditorBox.tsx
  packages/EditorTools/EditorBox/props.ts
  packages/EditorTools/MagneticLine/MagneticLine.less
  packages/EditorTools/MagneticLine/MagneticLine.tsx
  packages/EditorTools/MagneticLine/index.ts
  packages/EditorTools/MagneticLine/props.ts
  packages/EditorTools/constants/AxleDirection.ts
  packages/EditorTools/constants/EditorBox.ts
  packages/EditorTools/constants/Magnetic.ts
  packages/EditorTools/constants/Points.ts
  packages/EditorTools/core/MagneticLineHandler.ts
  packages/EditorTools/core/MaskContainScaleHandler.ts
  packages/EditorTools/core/MaskCoverScaleHandler.ts
  packages/EditorTools/core/RotateHandler.ts
  packages/EditorTools/core/ScaleHandler.ts
  packages/EditorTools/core/dragAction.ts
  packages/EditorTools/enum/point-type.ts
  packages/EditorTools/helper/magneticLine.ts
  packages/EditorTools/helper/math.ts
  packages/EditorTools/helper/utils.ts
  packages/EditorTools/index.ts
  packages/EditorTools/types/Editor.ts
  packages/EditorTools/types/MagneticLine.ts
  packages/Screenshot/index.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 拉伸 & 移动 & 选择 & 磁力线
  packages/EditorTools/core/MagneticLineHandler.ts
  src/App.tsx
  src/components/Editor/Editor.tsx
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/Editor/EditorControl/index.ts
  src/components/Layer/Image/Image.module.less
  src/components/Layer/Layer.tsx
  src/config/Mocks.ts
  src/helpers/Styles.ts
  src/layout/Stage/Canvas/Canvas.tsx
  src/models/LayerStruc/LayerStruc.ts
  src/store/OS.ts
  src/utils/getRectData.ts
  src/utils/move.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

fix: 🐛 修复报错
  .eslintcache
  .stylelintcache
  packages/EditorTools/MagneticLine/index.ts
  packages/EditorTools/constants/AxleDirection.ts
  packages/EditorTools/constants/Magnetic.ts
  packages/EditorTools/core/MaskContainScaleHandler.ts
  packages/EditorTools/core/MaskCoverScaleHandler.ts
  packages/EditorTools/core/RotateHandler.ts
  packages/EditorTools/core/ScaleHandler.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 6b0123a9a212c724d071484cc37781b7071a1a63 🚀
  assets/index-24efe810.js
  assets/index-aee397cc.css
  assets/index-ba46aacf.js
  assets/index-d56ef1ee.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat: 🎸 添加图片
  src/App.css
  src/App.tsx
  src/components/Layer/Image/Image.tsx
  src/components/Renderer/Renderer.tsx
  src/config/Mocks.ts
  src/core/FormatData/Layer.ts
  src/core/Manager/Keyboard.ts
  src/helpers/Chain.ts
  src/index.css
  src/layout/Material/Content/Image/Image.tsx
  src/layout/Stage/Scenes/Scenes.module.less
  src/layout/Stage/Scenes/Scenes.tsx
  src/layout/Stage/Scenes/index.ts
  src/layout/Stage/Stage.module.less
  src/layout/Stage/Stage.tsx
  src/main.tsx
  src/models/LayerStruc/BackgroundStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/store/index.ts
  src/types/magic.d.ts
  src/types/resource.ts
  src/utils/image.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 🎸 增加历史记录系统
  README.md
  src/App.tsx
  src/core/Decorator/History.ts
  src/core/FormatData/Layer.ts
  src/core/Manager/History.ts
  src/models/LayerStruc/BackgroundStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/store/History.ts
  src/store/index.ts
  src/types/history.ts
  src/utils/file.ts
Due: eslint --fix, prettier --write

feat: 🎸 增加场景渲染
  src/components/Renderer/Renderer.module.less
  src/layout/Stage/Scenes/Scenes.module.less
  src/layout/Stage/Scenes/Scenes.tsx
  src/layout/Stage/Stage.module.less
Due: stylelint --fix --aei, eslint --fix, prettier --write
