Repository qiangqiang-id/magic: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --aei, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{css,less}": "stylelint --fix --aei",
  "*.{jsx,ts,tsx}": "eslint --fix",
  "*.{css,less,jsx,ts,tsx,json,yml,yaml,md}": "prettier --write"
}

Deploying to gh-pages from @ c27c303985ccc75255ca970b662fe8d58a7baeb0 🚀
  assets/index-5d79426b.js
  assets/index-9cb949fa.css
  assets/index-ba46aacf.js
  assets/index-d56ef1ee.css
  index.html
Due: stylelint --fix --aei, prettier --write

fix: 🐛 .gitignore
  .eslintcache
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .stylelintcache
  package.json
  src/assets/style/index.less
  src/vite-env.d.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: husky
  package.json
Due: prettier --write

fix: commitlint
  commitlint.config.cjs
  package-lock.json
  package.json
Due: prettier --write

feat: 增添文字
  src/components/Layer/Layer.tsx
  src/components/Layer/Text/Text.tsx
  src/components/Renderer/Renderer.module.less
  src/components/Renderer/Renderer.tsx
  src/config/DefaultValues.ts
  src/constants/NodeNamePlate.ts
  src/core/FormatData/Layer.ts
  src/helpers/Styles.ts
  src/layout/Material/Content/Text/Text.module.less
  src/layout/Material/Content/Text/Text.tsx
  src/layout/Stage/Canvas/Canvas.module.less
  src/layout/Stage/Canvas/Canvas.tsx
  src/layout/Stage/Scenes/Scenes.module.less
  src/layout/Stage/Scenes/Scenes.tsx
  src/layout/Stage/Stage.tsx
  src/models/LayerStruc/TextStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/types/magic.d.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 00a9471df45c377a1832a5ee7699aca3b95d3f59 🚀
  assets/index-129d0f86.js
  assets/index-5d79426b.js
  assets/index-8b87af39.css
  assets/index-9cb949fa.css
  index.html
Due: stylelint --fix --aei, prettier --write

style: 场景ui
  package-lock.json
  package.json
  src/components/Editor/EditorControl/EditorControl.tsx
  src/config/Mocks.ts
  src/layout/Stage/Scenes/Scenes.module.less
  src/layout/Stage/Scenes/Scenes.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat: 添加场景
  src/components/Renderer/Renderer.tsx
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/core/FormatData/Layer.ts
  src/core/FormatData/Scene.ts
  src/layout/Setting/Text/Text.tsx
  src/layout/Stage/Scenes/Scenes.module.less
  src/layout/Stage/Scenes/Scenes.tsx
  src/models/MagicStruc/MagicStruc.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 192046b4e7de8fbd1864992841e2d50f9e40637f 🚀
  assets/index-129d0f86.js
  assets/index-57f07136.js
  assets/index-8b87af39.css
  assets/index-fa5bd593.css
  index.html
Due: stylelint --fix --aei, prettier --write

fix(defaultvalues): 将获取默认值设置为函数
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/core/FormatData/Layer.ts
  src/core/FormatData/Scene.ts
  src/models/SceneStruc/SceneStruc.ts
  src/store/Magic.ts
Due: eslint --fix, prettier --write

fix(defaultvalues): 创建场景模板大小引用
  src/components/Layer/Layer.tsx
  src/config/DefaultValues.ts
  src/layout/Stage/Scenes/Scenes.module.less
  src/layout/Stage/Stage.module.less
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(stage): 拉伸预览框
  packages/EditorTools/EditorBox/props.ts
  src/components/Editor/EditorControl/EditorControl.module.less
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/Layer/Layer.tsx
  src/constants/PointList.ts
  src/constants/Refs.ts
  src/helpers/Node.ts
  src/layout/Stage/Stage.module.less
  src/layout/Stage/Stage.tsx
  src/store/OS.ts
  src/utils/getPreviewSizePosition.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ ce9ebfef7ecd4f1f51187b583547fc5bf772d482 🚀
  assets/index-263b8b24.js
  assets/index-301c2a5a.css
  assets/index-57f07136.js
  assets/index-fa5bd593.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat(layer): 增加Shape 渲染
  README.md
  lib.d.ts
  packages/EditorTools/EditorBox/EditorBox.less
  packages/EditorTools/MagneticLine/MagneticLine.less
  packages/EditorTools/MagneticLine/MagneticLine.tsx
  packages/EditorTools/constants/EditorBox.ts
  src/components/Layer/Shape/Shape.tsx
  src/config/DefaultValues.ts
  src/config/Shape.ts
  src/core/FormatData/Layer.ts
  src/core/FormatData/Scene.ts
  src/layout/Material/Content/Shape/Shape.tsx
  src/main.tsx
  src/models/LayerStruc/ShapeStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/types/magic.d.ts
  src/types/resource.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(header): header ui 布局
  src/components/Layer/Shape/Shape.tsx
  src/layout/Header/Header.module.less
  src/layout/Header/Header.tsx
  src/layout/Material/Content/Shape/Shape.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(packages): add Screenshot
  packages/Screenshot/CloneNode.ts
  packages/Screenshot/CopyCssStyles.ts
  packages/Screenshot/CreateContext.ts
  packages/Screenshot/Document.ts
  packages/Screenshot/Fetch.ts
  packages/Screenshot/File.ts
  packages/Screenshot/ImageToBlob.ts
  packages/Screenshot/Screenshot.ts
  packages/Screenshot/Svg.ts
  packages/Screenshot/index.ts
Due: eslint --fix, prettier --write

feat(header): 导出下载功能
  package-lock.json
  package.json
  src/layout/Header/Header.tsx
  src/layout/Stage/Canvas/Canvas.tsx
  src/utils/download.ts
Due: eslint --fix, prettier --write

fix(header): fetch 导出报错
  packages/Screenshot/CloneNode.ts
  src/utils/download.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 10891abd34ec8fb23fcc6d577636a156d2cf2067 🚀
  assets/index-263b8b24.js
  assets/index-301c2a5a.css
  assets/index-b633d8e8.css
  assets/index-f44eb563.js
  index.html
Due: stylelint --fix --aei, prettier --write

feat(scenes): 场景排序交互
  package-lock.json
  package.json
  src/layout/Stage/Scenes/Scene/Scene.module.less
  src/layout/Stage/Scenes/Scene/Scene.tsx
  src/layout/Stage/Scenes/Scene/index.ts
  src/layout/Stage/Scenes/Scenes.module.less
  src/layout/Stage/Scenes/Scenes.tsx
  src/models/MagicStruc/MagicStruc.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 13d25826e649dd75a1522bcaf94638252fc8c25c 🚀
  assets/index-42d6d5d3.js
  assets/index-b633d8e8.css
  assets/index-f27873c8.css
  assets/index-f44eb563.js
  index.html
Due: stylelint --fix --aei, prettier --write

feat(layer): 图片增加mask拉伸逻辑
  packages/Screenshot/Screenshot.ts
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/Layer/Image/Image.tsx
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/config/Shape.ts
  src/config/cmd.ts
  src/core/FormatData/Layer.ts
  src/core/FormatData/Scene.ts
  src/helpers/Styles.ts
  src/layout/Stage/Scenes/Scene/Scene.tsx
  src/layout/Stage/Scenes/Scenes.tsx
  src/models/LayerStruc/ImageStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/LayerStruc/TextStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/types/magic.d.ts
Due: eslint --fix, prettier --write

fix(layer): 图片蒙层拉伸错误
  src/components/Layer/Image/Image.module.less
  src/helpers/Styles.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

fix(editor): 兼容蒙层,磁力线
  src/utils/getRectData.ts
Due: eslint --fix, prettier --write

feat(editor): 文字缩放,同比例缩放文字大小
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/Layer/Text/Text.tsx
  src/config/DefaultValues.ts
  src/constants/FontSize.ts
  src/core/FormatData/Layer.ts
  src/helpers/Styles.ts
  src/models/LayerStruc/TextStruc.ts
  src/types/magic.d.ts
Due: eslint --fix, prettier --write

fix(layer): 更改Layer 文件位置
  src/components/Renderer/Layer/Back/Back.module.less
  src/components/Renderer/Layer/Back/Back.tsx
  src/components/Renderer/Layer/Back/index.ts
  src/components/Renderer/Layer/Group/Group.tsx
  src/components/Renderer/Layer/Group/index.ts
  src/components/Renderer/Layer/Image/Image.module.less
  src/components/Renderer/Layer/Image/Image.tsx
  src/components/Renderer/Layer/Image/index.ts
  src/components/Renderer/Layer/Layer.module.less
  src/components/Renderer/Layer/Layer.tsx
  src/components/Renderer/Layer/Shape/Shape.tsx
  src/components/Renderer/Layer/Shape/index.ts
  src/components/Renderer/Layer/Text/Text.tsx
  src/components/Renderer/Layer/Text/index.ts
  src/components/Renderer/Layer/index.ts
  src/components/Renderer/Renderer.tsx
  src/layout/Material/Content/Shape/Shape.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(editor): 增加悬浮框
  src/components/Editor/Editor.tsx
  src/components/Editor/Hover/Hover.module.less
  src/components/Editor/Hover/Hover.tsx
  src/components/Editor/Hover/index.ts
  src/components/Renderer/Layer/Layer.tsx
  src/models/MagicStruc/MagicStruc.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 7bd292a4f36c0e87527093f0e289f27360ff807e 🚀
  assets/index-42d6d5d3.js
  assets/index-4b3996fc.js
  assets/index-95b86886.css
  assets/index-f27873c8.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat(editor): 增加基础文字富文本功能
  README.md
  package-lock.json
  package.json
  src/components/Editor/Editor.tsx
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/Editor/RichText/RichText.module.less
  src/components/Editor/RichText/RichText.tsx
  src/components/Editor/RichText/index.ts
  src/components/Renderer/Layer/Text/Text.module.less
  src/components/Renderer/Layer/Text/Text.tsx
  src/config/Mocks.ts
  src/constants/HotKeyScope.ts
  src/constants/NodeNamePlate.ts
  src/models/FactoryStruc/LayerFactory.ts
  src/models/LayerStruc/TextStruc.ts
  src/utils/charAttrs.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(text): 编辑文字,自动更新高度
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/Editor/RichText/RichText.tsx
  src/components/Renderer/Layer/Text/Text.tsx
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/models/LayerStruc/TextStruc.ts
  src/models/MagicStruc/MagicStruc.ts
Due: eslint --fix, prettier --write

fix(editor): 拉伸预览宽高信息框超出舞台
  src/config/Mocks.ts
  src/core/Manager/Cmd.ts
  src/layout/Stage/Stage.tsx
  src/utils/getPreviewSizePosition.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 9c9927090cbe92c3de1ed48146d8cf2563adc620 🚀
  assets/index-0acc00dc.js
  assets/index-4b3996fc.js
  assets/index-95b86886.css
  assets/index-d2b0d435.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat(setting): settingContainer
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/components/LayerBaseSetting/index.ts
  src/components/SettingContainer/SettingContainer.module.less
  src/components/SettingContainer/SettingContainer.tsx
  src/components/SettingContainer/index.ts
  src/layout/Setting/Back/Back.tsx
  src/layout/Setting/Back/index.ts
  src/layout/Setting/Canvas/Canvas.tsx
  src/layout/Setting/Canvas/index.ts
  src/layout/Setting/Group/Group.tsx
  src/layout/Setting/Image/Image.tsx
  src/layout/Setting/Setting.tsx
  src/layout/Setting/Text/Text.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(setting): 删除功能
  index.html
  package-lock.json
  package.json
  src/components/LayerBaseSetting/LayerBaseSetting.module.less
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/components/Renderer/Layer/Layer.tsx
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/constants/LayerTypeEnum.ts
  src/layout/Setting/Canvas/Canvas.tsx
  src/layout/Setting/Group/Group.tsx
  src/layout/Setting/Image/Image.tsx
  src/layout/Setting/Setting.tsx
  src/layout/Setting/Shape/Shape.tsx
  src/layout/Setting/Text/Text.tsx
  src/models/FactoryStruc/LayerFactory.ts
  src/models/LayerStruc/GroupStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/types/model.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 17afba60ffbcc54c468975d8f515425a1e322545 🚀
  assets/index-0acc00dc.js
  assets/index-8549ba1d.js
  assets/index-d2b0d435.css
  assets/index-d3ed6499.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat(setting): 复制与翻转
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/components/Renderer/Layer/Layer.tsx
  src/constants/LayerRatio.ts
  src/helpers/Styles.ts
  src/models/LayerStruc/GroupStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/SceneStruc/SceneStruc.ts
Due: eslint --fix, prettier --write

feat(scenes): 场景增删操作
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/components/MenuPopover/MenuPopover.module.less
  src/components/MenuPopover/MenuPopover.tsx
  src/components/MenuPopover/index.ts
  src/core/FormatData/Scene.ts
  src/layout/Stage/Scenes/Scene/Scene.module.less
  src/layout/Stage/Scenes/Scene/Scene.tsx
  src/layout/Stage/Scenes/Scene/index.ts
  src/layout/Stage/Scenes/Scenes.tsx
  src/models/FactoryStruc/SceneFactory.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/store/Magic.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

fix(menupopover): 解决报错
  src/components/MenuPopover/MenuPopover.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ d6498e9565b2cd5b656dfbec2b7abc9390547af9 🚀
  assets/index-0004b318.css
  assets/index-558e91ca.js
  assets/index-8549ba1d.js
  assets/index-d3ed6499.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat(setting): 自定义背景颜色设置
  src/assets/style/index.less
  src/assets/style/setting.less
  src/components/SettingContainer/SettingContainer.tsx
  src/layout/Setting/Canvas/Canvas.module.less
  src/layout/Setting/Canvas/Canvas.tsx
  src/models/SceneStruc/SceneStruc.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write
