Repository qiangqiang-id/magic: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --aei, eslint --fix, prettier --write

feat(setting): 增加图层锁定功能
  src/components/LayerBaseSetting/LayerBaseSetting.module.less
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/components/SettingContainer/SettingContainer.tsx
  src/layout/Setting/Image/Image.tsx
  src/models/LayerStruc/LayerStruc.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(setting): 替换图片
  src/components/Editor/EditorControl/EditorControl.tsx
  src/layout/Setting/Image/Image.tsx
  src/layout/Setting/Setting.tsx
  src/models/FactoryStruc/LayerFactory.ts
  src/models/LayerStruc/GroupStruc.ts
  src/models/LayerStruc/ImageStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 4c1ecf8ab240dc4e756564d90a12cdeb6ab14e1e 🚀
  assets/index-0004b318.css
  assets/index-3707a7b3.js
  assets/index-558e91ca.js
  assets/index-c60b0a34.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat(crop): 裁剪拉伸功能
  packages/EditorTools/core/MaskCoverScaleHandler.ts
  packages/EditorTools/types/Editor.ts
  src/components/Crop/Crop.module.less
  src/components/Crop/Crop.tsx
  src/components/Crop/index.ts
  src/components/Editor/EditorControl/EditorControl.module.less
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/Renderer/Layer/Text/Text.module.less
  src/helpers/Crop.ts
  src/layout/Setting/Image/Image.module.less
  src/layout/Setting/Image/Image.tsx
  src/layout/Stage/Canvas/Canvas.tsx
  src/layout/Stage/Stage.module.less
  src/layout/Stage/Stage.tsx
  src/store/Setting.ts
  src/store/index.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(crop): 移动裁剪框
  src/components/Crop/Crop.module.less
  src/components/Crop/Crop.tsx
  src/core/Tools/CropMove.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(crop): 确定裁剪计算
  src/components/Crop/Crop.tsx
  src/helpers/Crop.ts
  src/helpers/Styles.ts
Due: eslint --fix, prettier --write

feat(crop): 完成裁剪功能
  src/components/Crop/Crop.tsx
  src/components/Editor/Editor.module.less
  src/components/Editor/Editor.tsx
  src/components/Editor/EditorControl/EditorControl.tsx
  src/layout/Setting/Image/Image.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

refactor(readme): 完善readme
  README.md
Due: prettier --write

Deploying to gh-pages from @ 5156ad6723c5e0d78652aa80f0784c60e2a38a20 🚀
  assets/index-1f470d69.css
  assets/index-3707a7b3.js
  assets/index-719dd08d.js
  assets/index-c60b0a34.css
  index.html
Due: stylelint --fix --aei, prettier --write

fix(setting): 锁定样式
  README.md
  src/assets/styles/common.less
  src/assets/styles/index.less
  src/assets/styles/reset.less
  src/assets/styles/setting.less
  src/components/LayerBaseSetting/LayerBaseSetting.module.less
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/layout/Setting/Image/Image.tsx
  src/main.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(setting): 垂直翻转
  src/components/LayerBaseSetting/LayerBaseSetting.module.less
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/models/LayerStruc/LayerStruc.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

fix(setting): 翻转&层级抽离组件
  src/components/LayerBaseSetting/Flip/Flip.module.less
  src/components/LayerBaseSetting/Flip/Flip.tsx
  src/components/LayerBaseSetting/Flip/index.ts
  src/components/LayerBaseSetting/LayerBaseSetting.module.less
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/components/LayerBaseSetting/LayerLevel/LayerLevel.module.less
  src/components/LayerBaseSetting/LayerLevel/LayerLevel.tsx
  src/components/LayerBaseSetting/LayerLevel/index.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ cfac2679a8b3f4355e40926ae47782603a9367a7 🚀
  assets/index-1f470d69.css
  assets/index-307f6adf.js
  assets/index-60bee6ef.css
  assets/index-719dd08d.js
  index.html
Due: stylelint --fix --aei, prettier --write

feat(setting): 图层位置ui
  README.md
  index.html
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/components/LayerBaseSetting/LayerLevel/LayerLevel.module.less
  src/components/LayerBaseSetting/LayerLevel/LayerLevel.tsx
  src/components/LayerBaseSetting/LayerLevel/index.ts
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.module.less
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.tsx
  src/components/LayerBaseSetting/LayerPosition/index.ts
  src/layout/Setting/Setting.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(setting): 设置图层画布位置
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.tsx
  src/models/LayerStruc/LayerStruc.ts
Due: eslint --fix, prettier --write

fix(canvas): 去除阻止冒泡
  packages/EditorTools/EditorBox/EditorBox.tsx
  src/components/Crop/Crop.tsx
  src/components/Editor/Editor.tsx
  src/components/Renderer/Layer/Layer.tsx
  src/layout/Stage/Canvas/Canvas.tsx
  src/layout/Stage/Stage.module.less
  src/layout/Stage/Stage.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(setting): 图层位置偏移
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.module.less
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.tsx
  src/helpers/Obb.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/utils/collision.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ f4625d9c39af43a9ebed2622ca50c37de52dcea1 🚀
  assets/index-05673cc2.css
  assets/index-307f6adf.js
  assets/index-60bee6ef.css
  assets/index-d2761e20.js
  index.html
Due: stylelint --fix --aei, prettier --write

refactor(setting): 优化获取modal数据值
  README.md
  src/components/Crop/Crop.tsx
  src/components/Editor/EditorControl/EditorControl.tsx
  src/helpers/Styles.ts
  src/models/LayerStruc/LayerStruc.ts
  src/utils/getRectData.ts
Due: eslint --fix, prettier --write

refactor(layerstruc): 元素实例类型有计算属性转为方法
  src/components/Crop/Crop.tsx
  src/components/Editor/Editor.tsx
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/Renderer/Layer/Layer.tsx
  src/helpers/Styles.ts
  src/models/LayerStruc/ImageStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/utils/getRectData.ts
Due: eslint --fix, prettier --write

fix: 去除as使用,优化变量名称
  README.md
  packages/EditorTools/index.ts
  src/components/Editor/Editor.tsx
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.tsx
  src/models/MagicStruc/MagicStruc.ts
Due: eslint --fix, prettier --write

feat(setting): 图层位置 设置
  src/components/LayerBaseSetting/LayerPosition/LayerPosition.tsx
  src/layout/Stage/Stage.tsx
  src/models/LayerStruc/LayerStruc.ts
Due: eslint --fix, prettier --write

fix(setting): 修改获取背景图层类型报错
  src/layout/Setting/Canvas/Canvas.tsx
  src/models/SceneStruc/SceneStruc.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ 0bfc47ae821556a6b0f9bfede0cad8c15e7f0d0a 🚀
  assets/index-be9a54da.js
  assets/index-d2761e20.js
  index.html
Due: none

feat(setting): 不透明度设置
  index.html
  src/components/LayerBaseSetting/LayerBaseSetting.module.less
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/components/SliderNumberInput/SliderNumberInput.module.less
  src/components/SliderNumberInput/SliderNumberInput.tsx
  src/components/SliderNumberInput/index.ts
  src/config/DefaultValues.ts
  src/layout/Setting/Image/Image.module.less
  src/layout/Setting/Image/Image.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 14fd7979a545f27e6442087152c62c3abde409db 🚀
  assets/index-05673cc2.css
  assets/index-372dd868.js
  assets/index-827879cc.css
  assets/index-be9a54da.js
  index.html
Due: stylelint --fix --aei, prettier --write

feat(setting): 新增字体和文字大小设置
  README.md
  index.html
  src/assets/styles/setting.less
  src/components/LayerBaseSetting/LayerBaseSetting.module.less
  src/components/LayerBaseSetting/LayerBaseSetting.tsx
  src/config/DefaultValues.ts
  src/config/Fonts.ts
  src/config/HotKeys.ts
  src/config/Mocks.ts
  src/layout/Setting/Text/Text.module.less
  src/layout/Setting/Text/Text.tsx
  src/layout/Setting/Text/TextAlign.tsx
  src/layout/Setting/Text/TextFamilyWithSize.tsx
  src/layout/Setting/Text/TextStyle.tsx
  src/models/LayerStruc/LayerStruc.ts
  src/store/Font.ts
  src/store/index.ts
  src/utils/font.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(setting): 新增文字字体风格和对齐方式功能
  src/constants/Font.ts
  src/helpers/Styles.ts
  src/layout/Setting/Text/Text.module.less
  src/layout/Setting/Text/Text.tsx
  src/layout/Setting/Text/TextAlign.tsx
  src/layout/Setting/Text/TextStyle.tsx
  src/models/LayerStruc/TextStruc.ts
  src/types/magic.d.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

feat(setting): 增加文字颜色设置
  README.md
  src/layout/Setting/Text/Text.module.less
  src/layout/Setting/Text/Text.tsx
  src/layout/Setting/Text/TextColor.tsx
Due: stylelint --fix --aei, eslint --fix, prettier --write

fix(package): 修改打包命令
  package.json
Due: prettier --write

fix(cmd): 删除cmd文件
  src/config/cmd.ts
Due: eslint --fix, prettier --write

fix(cmd): 增加cmd 文件
  src/config/Cmd.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ bee5eda305f95c4abef5ea5b8b8b9dd3154f9388 🚀
  assets/index-28e7e9aa.css
  assets/index-372dd868.js
  assets/index-827879cc.css
  assets/index-afe0e5a1.js
  index.html
Due: stylelint --fix --aei, prettier --write

feat(canvas): 增加点击穿透选择图层
  src/components/Editor/EditorControl/EditorControl.tsx
  src/components/UploadBtn/UploadBtn.tsx
  src/config/DefaultValues.ts
  src/config/Mocks.ts
  src/constants/MimeTypes.ts
  src/helpers/Node.ts
  src/layout/Material/Content/Back/Back.tsx
  src/layout/Material/Content/Image/Image.tsx
  src/models/LayerStruc/ImageStruc.ts
  src/types/magic.d.ts
  src/utils/layers.ts
  src/utils/penetration.ts
Due: eslint --fix, prettier --write

fix(canvas): 点击穿透处理翻转和mask失效
  README.md
  src/utils/penetration.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ cfc065cd1121556a88c75978cf10a58c79a1fa28 🚀
  assets/index-7e0ff51b.js
  assets/index-afe0e5a1.js
  index.html
Due: none

fix(canvas): 穿透不透明度数调整
  src/components/Crop/Crop.module.less
  src/utils/penetration.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 3fc7a18ddcda6e029c7c1d9459f036a0b3c0c73b 🚀
  assets/index-28e7e9aa.css
  assets/index-dc911740.js
  assets/index-f6acf4eb.css
  index.html
Due: stylelint --fix --aei, prettier --write

feat(cmp): 实现快捷键功能
  README.md
  src/App.tsx
  src/config/HotKeys.ts
  src/constants/HotKeyScope.ts
  src/core/Manager/Clipboard.ts
  src/core/Manager/Cmd.ts
  src/core/Manager/Keyboard.ts
  src/layout/Stage/Stage.module.less
  src/models/LayerStruc/GroupStruc.ts
  src/models/LayerStruc/LayerStruc.ts
  src/models/MagicStruc/MagicStruc.ts
  src/models/SceneStruc/SceneStruc.ts
  src/store/Magic.ts
  src/types/canvas.ts
  src/utils/copyText.ts
  src/utils/equals.ts
  src/utils/getPreviewSizePosition.ts
Due: stylelint --fix --aei, eslint --fix, prettier --write

Deploying to gh-pages from @ 8961346f342ec3b41f585fa352f12786bfab22c1 🚀
  assets/index-682b08e9.css
  assets/index-d7a6e7af.js
  assets/index-dc911740.js
  assets/index-f6acf4eb.css
  index.html
Due: stylelint --fix --aei, prettier --write

Path conditions:
  stylelint --fix --aei: any of: *.{css,less}
  eslint --fix: any of: *.{jsx,ts,tsx}
  prettier --write: any of: *.{css,less,jsx,ts,tsx,json,yml,yaml,md}
